* {
    margin: 0;
}

body {
    background-image: url("my-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.main, .expertice {
    display: flex;
}

.heading {
    color: #ffffff;
    margin-left: 50px;
    padding-top: 30px;
    margin-right: 30px;

}

.h_heading {
    padding-left: 20px;
    padding-top: 20px;
}

img {
    border: 5px solid #1C045D;
}

.me {
    background-color: #1C045D;
    width: 200px;
    height: 400px;
    margin-left: 50px;
    border-radius: 20px;
    padding: 30px;
    
}

.me_2 {
      background-color: #1C045D;
      width: 200px;
      height: 200px;
      margin-left: 50px;
      border-radius: 20px;
      padding: 30px;
    
}

.i_skills {
    background-color: #00bdfcf9;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

.group_me {
    display: flex;
    align-content: center;
    padding: 40px;
    margin-left: 200px;
    width: 800px;
}

.e_skills {
    background-color: #00bdfcf9;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 20px;
}

ul {
    padding: 20px;
    font-weight: bold;
}

h2{
    color: whitesmoke;
}

.qualifications {
    background-color: #1C045D;
    width: 500px;
    height: 400px;
    margin-left: 50px;
    border-radius: 20px;
    padding: 30px;
}

.qualf {
    position: sticky;
    top: 20rem;
}

.q_list {
    background-color: #00bdfcf9;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    margin-left: 220px;
}

.experience {
    background-color: #1C045D;
    width: 500px;
    height: 400px;
    margin-left: 50px;
    border-radius: 20px;
    padding: 30px;

}

.exp_list {
    background-color: #00bdfcf9;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    margin-left: 220px;
}

.ex_p {
    position: sticky;
    top: 20rem;
}

.contacts {
    color: #1C045D;
    font-weight: bold;
    width: 25%;
    padding: 40px;
    text-align: center;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    background-color: #00bdfcf9;
    margin-top: 40px;
}